.footer{
    font-size: 12px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 30px;
    color: white;
    align-items: center;
    border-top: 1px solid gray;

    .first-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 30px;
        height: 100%;
        gap: 6px;

        img{
            width: 24px;
            object-fit: contain;
        }

        .copyright{
            font-size: 22px;
        }
    }

    .second-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 30px;

        .second-footer-inside{
            display: flex;
            justify-content: space-between;
            gap: 4px;
            h4{
                color: rgb(85, 95, 231);
                margin: 10px;
                cursor: pointer;
            }
        }
    }
}