@import "./styles/Navbar.scss";
@import "./styles/Main.scss";
@import "./styles/Profile.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    background-color: rgb(29, 26, 26);
    height:100%
}